#################################
# Maven
#################################
**/target/
!.mvn/wrapper/maven-wrapper.jar
**/.mvn/timing.properties
**/.mvn/wrapper/maven-wrapper.properties

#################################
# IntelliJ IDEA
#################################
.idea/
*.iml
*.ipr
*.iws
out/

#################################
# Logs
#################################
**/*.log
logs/

#################################
# OS Files
#################################
.DS_Store
Thumbs.db

#################################
# Environment & Secrets
#################################
.env
.env.*

# Ignore environment-specific Spring configs
**/application-dev.yml
**/application-prod.yml
**/application-test.yml
**/application-local.yml

#################################
# Docker / Runtime
#################################
**/*.pid
